<h2>
  Sign up

</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<%# Add the data-controller attribute to connect with Stimulus %>

<div>
  <div class="field">
    <%= f.label :username %>
    <br />
    <%# Add the data target attribute to connect with the controller %>
    <%= f.text_field :username, autofocus: true, autocomplete: "username",
    data: { username_validation_target: "input" } %>
    <%# This is where validation feedback will appear %>
    <div data-username-validation-target="feedback" class="text-xs text-gray-500 mt-1">
      Username must be 3-30 characters, with only letters, numbers, and underscores
    </div>
  </div>
</div>
<div>
  <%= f.label :email %>
  <br />
  <%= f.email_field :email, autocomplete: "email" %>
  <div class="text-xs text-gray-500">We'll never share your email with anyone else.
  </div>
</div>
<div>
  <%= f.label :password %>
  <% if @minimum_password_length %>
  <em>
    (<%= @minimum_password_length %> characters minimum)

  </em>
  <% end %>
  <br />
  <%= f.password_field :password, autocomplete: "new-password" %>
</div>
<div>
  <%= f.label :password_confirmation %>
  <br />
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
</div>
<div>
  <%= f.check_box :terms_accepted %>
  <%= f.label :terms_accepted, "I agree to the Terms of Service and Privacy Policy" %>
</div>
<div>
  <%= f.submit "Sign up", class: "btn btn-primary" %>
</div>
<% end %>

<div>
  Already have an account? <%= link_to "Sign in", new_session_path(resource_name) %>
</div>
