<div>
  <div class="flex justify-between items-center mb-6">
    <h1>
      Your Compliments

    </h1>
    <%= link_to "Send a Compliment", new_compliment_path, class: "btn-primary" %>
  </div>
  <div>
    <div class="bg-white rounded-lg shadow p-6">
      <h2>
        Compliments Received (<%= @compliments.count %>)

      </h2>
      <% if @compliments.any? %>
      <div id="received_compliments" class="space-y-4">
        <% @compliments.each do |compliment| %>
        <%= render partial: "compliments/compliment_card", locals: { compliment: compliment, received: true } %>
        <% end %>
      </div>
      <% else %>
      <p>
        You haven't received any compliments yet.

      </p>
      <% end %>
    </div>
    <div>
      <h2>
        Compliments Sent (<%= @sent_compliments.count %>)

      </h2>
      <% if @sent_compliments.any? %>
      <div id="sent_compliments" class="space-y-4">
        <% @sent_compliments.each do |compliment| %>
        <%= render partial: "compliments/compliment_card", locals: { compliment: compliment, received: false } %>
        <% end %>
      </div>
      <% else %>
      <p>
        You haven't sent any compliments yet.

      </p>
      <% end %>
    </div>
  </div>
</div>
