<!DOCTYPE html>
<html>
  <head>
    <title>
      Anonymous Compliment Network

    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- Use only one of the following JavaScript includes based on your setup -->
    <% if Rails.application.config.respond_to?(:importmap) %>
    <!-- For importmap-rails approach -->
    <%= javascript_importmap_tags %>
    <% else %>
    <!-- For jsbundling-rails/esbuild approach -->
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <% end %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
